[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "crseEventStudy"]
	path = crseEventStudy
	url = https://github.com/skoestlmeier/crseeventstudy
	shallow = true
	registered = true
[submodule "monotonicity"]
	path = monotonicity
	url = https://github.com/skoestlmeier/monotonicity
	shallow = true
	registered = true
